<!-- addcontact.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Add Contact" }) %>

  <body>
    <%- include('partials/navbar') %>

    <div class="content">
      <div class="create">
        <h2>Add a New Contact</h2>
        <form action="/addContact" method="POST">
          <label>firstName:</label
          ><input type="text" value="" id="firstName" name="firstName" required />

          <label for="lastName">lastName:</label>
          <textarea
            value=""
            id="lastName"
            name="lastName"
            rows="4"
            required
          ></textarea
          ><br />

          <label for="phone">Target Date:</label>
          <input type="date" id="phone" name="phone" required /><br />

          <label>Author:</label>
          <select>
            <option value="pooja">pooja</option>
            <option value="rani">rani</option></select
          ><br />

          <label for="email">email:</label>
          <input type="checkbox" id="email" name="email" /><br />

          <label for="address"><address></address>:</label>
          <input type="checkbox" id="address" name="address" /><br />

          <button type="submit">Add Contact</button>
        </form>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>